@use '../utils' as *;

/*----------------------------------------*/
/*  25. CONTACT CSS START
/*----------------------------------------*/
.rs_contact {
    &_info {
        margin-bottom: 50px;

        &_title {
            font-size: 30px;
            margin-bottom: 30px;
        }

        &_list {
            list-style: none;

            i {
                padding-right: 8px;
                font-size: 16px;
                color: var(--tp-common-black);
            }

            li {
                font-size: 16px;
                font-family: var(--tp-ff-space);
                color: var(--tp-text-body);
                margin-bottom: 10px;
                line-height: 1;

                &:hover a {
                    color: var(--tp-theme-1);
                }
            }
        }

    }

}





.rs_form_group {
    margin-bottom: 50px;

    label {
        font-size: 20px;
        color: var(--tp-common-black);
        margin-bottom: 20px;
        display: inline-block;
        font-weight: 700;
    }

    input,
    textarea {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 16px;
        background: transparent;
        transition: 0.3s;

        &::placeholder {
            color: #999;
            opacity: 1;
            transition: opacity 0.3s ease;
        }

        &:focus {
            border-color: var(--tp-theme-1);
            outline: none;

            &::placeholder {
                opacity: 0;
            }
        }
    }
}